chainlit==1.0.301
langchain==0.1.9
langchain-core==0.1.26
langchain-community==0.0.24
openai==1.12.0
transformers==4.38.1
accelerate==0.27.2
tokenizers==0.15.2
bitsandbytes==0.42.0
-i https://download.pytorch.org/whl/cu118
torch==2.2.1